<style>
  .body-container {
    display: flex;
  }

  main {
    width: 95%;
    max-width: 1500px;
    margin-left: 250px;
    border-left: 1px solid #cfdae3;
    border-right: 1px solid #cfdae3;
  }

  .banner-container {
    width: 100%;
    position: relative;
  }

  .banner-container .background {
    width: 100%;
    aspect-ratio: 4/1;
    object-fit: cover;
  }

  .banner-container .avatar-container {
    position: absolute;
    display: flex;
    align-items: end;
    width: auto;
    bottom: 10%;
    left: 5%;
    z-index: 1;
  }


  .banner-container .avatar {
    width: 20%;
    min-width: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 25% 25% 0 25%;
    border: 5px solid rgb(255, 255, 255, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .banner-container .avatar-container p {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0 15px 15px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .banner-container .fa-user-gear {
    position: absolute;
    top: 2%;
    left: 2%;
    color: rgb(255, 255, 255, 0.8);
    font-size: 2rem;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: rgb(1, 143, 253, 0.2);
    padding: 0.25rem;
    border-radius: 50%;
  }

  .banner-container .fa-user-gear:hover {
    color: white;
  }

  main .self-intro-container,
  .comment-container {
    width: 90%;
    margin: 1rem auto;
    border: 1px solid #cfdae3;
    border-radius: 5px;
    padding: 1rem;
  }

  main .self-intro-container h1 {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #cfdae3;
    font-size: 1.5rem;
  }

  main .self-intro-container p {
    font-size: 1.25rem;
  }

  .comment-container h1 {
    border-bottom: 1px solid #cfdae3;
  }

  .card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid #018ffd;
    padding-bottom: 0.5rem;
  }

  .card img {
    width: 20%;
    height: 20%;
    padding: 0.5rem;
  }

  .card .nameComment {
    width: 80%;
  }

  .card .nameComment a {
    font-size: 1.5rem;
    color: black;
  }

  .card .nameComment p {
    font-size: 1.25rem;
    color: #83898e;
  }

  .card .nameComment .comment {
    word-wrap: break-word;
  }

  .comment-form-container {
    width: 80%;
    margin: 0.5rem auto;
    height: 60px;
  }

  .comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .comment-form input {
    width: 85%;
    border-radius: 15px 0 0 15px;
    font-size: 1.25rem;
    padding: 0 1rem;
    height: 33px;
  }

  .comment-form button {
    width: 15%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    min-width: 27px;
    white-space: nowrap;
  }

  .comment-form-container p {
    color: #83898e;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  .modal-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .close {
    font-size: 20px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: end;
  }

  .close:hover {
    color: #018ffd;
  }

  .modal-content .edit-form input {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .modal-content .background-container,
  .modal-content .avatar-container {
    position: relative;
  }

  .modal-content .edit-form .background-img {
    width: 100%;
    aspect-ratio: 4/1;
    object-fit: cover;
  }

  .modal-content .fa-image {
    font-size: 3rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: rgb(255, 255, 255, 0.8);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .modal-content .fa-image:hover {
    color: white
  }

  .modal-content .background-container input,
  .modal-content .avatar-container input {
    display: none;
  }

  .modal-content .edit-form-bottom {
    display: flex;
    align-items: stretch;
  }

  .modal-content .avatar-name-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 1rem;
  }

  .modal-content .avatar-container,
  .modal-content .name-container {
    max-width: 350px;
  }

  .modal-content .avatar-container img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .modal-content .self-intro-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-content .self-intro-container textarea {
    font-size: 1.5rem;
    width: 100%;
  }

  .modal-content .edit-form button {
    display: block;
  }

  @media screen and (max-width:1280px) {
    main {
      margin-left: 140px;
    }
  }

  @media screen and (max-width:768px) {
    main {
      margin: 0 auto;
    }

    .comment-container {
      margin-bottom: 5rem;
    }

    .banner-container .avatar-container {
      position: relative;
    }

    .banner-container .avatar {
      width: 35%;
    }

    .banner-container .avatar-container p {
      width: 50%;
    }

    .modal-content .edit-form-bottom {
      display: block;
    }
  }
</style>

<div class="body-container">
  {{> sidebar}}
  <main>
    <section class="banner-container">
      <img class="background" src="
        {{#if user.background}}
          {{user.background}}
        {{else}}
          https://i.imgur.com/4cfXBkM.jpg
        {{/if}}      
      " alt="">
      <div class="avatar-container">
        <img class="avatar" src="
        {{#if user.avatar}}
          {{user.avatar}}
        {{else}}
          https://i.imgur.com/FUerPDO.png
        {{/if}}
        " alt="">
        <p>{{user.name}}</p>
      </div>
      {{!-- 如果訪問頁面是自己，編輯資料按鈕才會顯示 --}}
      {{#if user.isUserSelf}}
      <i class="fa-solid fa-user-gear"></i>
      {{/if}}
    </section>

    <section class="self-intro-container">
      <h1>自我介紹</h1>
      <p>
        {{user.selfIntro}}
      </p>
    </section>

    <section class="comment-container">
      <h1>留言區</h1>
      {{!-- 如果訪問頁面是自己，留言欄位不顯示 --}}
      {{#if user.isUserSelf}}
      {{else}}
      <div class="comment-form-container">
        <form class="comment-form" action="/comment/{{user.id}}" method="post">
          <input name="comment" type="text" placeholder="留下給 {{user.name}} 的留言吧。" required>
          <button>送出</button>
        </form>
        <p>字數限制1-250字，<span>0</span>/250。</p>
      </div>
      {{/if}}
      <div class="card-group">
        <div class="card">
          <img src="https://i.imgur.com/StpIHea.png" alt="">
          <div class="nameComment">
            <a href="">name</a>
            <p class="comment">commentcommentcommentcommentcommentcomment</p>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/StpIHea.png" alt="">
          <div class="nameComment">
            <a href="">name</a>
            <p class="comment">commentcommentcommentcommentcommentcomment</p>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/StpIHea.png" alt="">
          <div class="nameComment">
            <a href="">name</a>
            <p class="comment">commentcommentcommentcommentcommentcomment</p>
          </div>
        </div>
        <div class="card">
          <img src="https://i.imgur.com/StpIHea.png" alt="">
          <div class="nameComment">
            <a href="">name</a>
            <p class="comment">commentcommentcommentcommentcommentcomment</p>
          </div>

        </div>

        <div class="card">
          <img src="https://i.imgur.com/StpIHea.png" alt="">
          <div class="nameComment">
            <a href="">name</a>
            <p class="comment">commentcommentcommentcommentcommentcomment</p>
          </div>

        </div>

      </div>
    </section>
  </main>
  {{!-- modal --}}
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form class="edit-form" action="/user/{{user.id}}?_method=PUT" method="post" enctype="multipart/form-data">

        <div class="background-container">
          <img class="background-img" src="
        {{#if user.background}}
          {{user.background}}
        {{else}}
          https://i.imgur.com/4cfXBkM.jpg
        {{/if}}  
          " alt="">
          <label for="background">
            <i class="fa-solid fa-image"></i>
          </label>
          </img>
          <input class="background-input" name="background" type="file" id="background">
        </div>

        <div class="edit-form-bottom">
          <div class="avatar-name-container">
            <div class="avatar-container">
              <img class="avatar-img" src="
                {{#if user.avatar}}
                  {{user.avatar}}
                {{else}}
                  https://i.imgur.com/FUerPDO.png
                {{/if}}
              " alt="">
              <label for="avatar">
                <i class="fa-solid fa-image"></i>
              </label>
              <input class="avatar-input" name="avatar" type="file" id="avatar">
            </div>
            <div class="name-container">
              <label for="">暱稱:</label>
              <input type="text" value="{{user.name}}" name="name">
            </div>
          </div>

          <div class="self-intro-container">
            <label for="self-intro">自我介紹</label>
            <textarea name="selfIntro" rows="10" id="self-intro">{{user.selfIntro}}</textarea>
          </div>
        </div>

        <button>儲存</button>
      </form>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  axios.get('/api/user')
    .then(res => console.log(res.data))

  const modal = document.getElementById("myModal")
  const faUserGear = document.querySelector('.fa-user-gear')
  const closeBtn = document.getElementsByClassName("close")[0]
  const backgroundInput = document.querySelector('.background-input')
  const avatarInput = document.querySelector('.avatar-input')
  const commentInput = document.querySelector('.comment-form input')
  const commentButton = document.querySelector('.comment-form button')
  const charCount = document.querySelector('.comment-form-container span')

  console.log(commentInput)
  if (faUserGear) {
    faUserGear.onclick = function () {
      modal.style.display = "block"
    }
  }
  if (closeBtn) {
    closeBtn.onclick = function () {
      modal.style.display = "none"
    }
  }
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none"
    }
  }

  function changeImage(e) {
    if (e.target === backgroundInput) {
      document.querySelector('.background-img').src = URL.createObjectURL(backgroundInput.files[0])
    }

    if (e.target === avatarInput) {
      document.querySelector('.avatar-img').src = URL.createObjectURL(avatarInput.files[0])
    }
  }
  function commentControl(e) {
    const MaxCharCount = 250
    charCount.textContent = `${commentInput.value.length}`
    if (commentInput.value.length > MaxCharCount) {
      commentButton.disabled = true
      commentButton.style.cursor = 'not-allowed'
      document.querySelector('.comment-form-container p').style.color = '#d93b3b'
    }
    if (commentInput.value.length < MaxCharCount) {
      commentButton.disabled = false
      commentButton.style.cursor = 'pointer'
      document.querySelector('.comment-form-container p').style.color = '#83898e'
    }
  }

  backgroundInput.addEventListener('change', changeImage)
  avatarInput.addEventListener('change', changeImage)
  commentInput.addEventListener('input', commentControl)
</script>