<style>
  main {
    display: flex;
  }

  .left-container {
    width: 50%;
    min-width: 500px;
    height: 100vh;
    background: url(/images/login-background.jpg);
    position: relative;
  }

  .img-container {
    width: 50%;
    min-width: 285px;
    background-color: rgb(255, 255, 255, 0.7);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;
    padding: 1rem 3rem;
    border-radius: 15px;
  }

  .img-container .logo-content {
    display: flex;
    align-items: center;
  }

  .img-container .logo-content .logo-img {
    width: 120px;
  }

  .img-container .logo-content .logo-title {
    font-size: 4rem;
    color: #018ffd;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(1, 143, 253, 0.5);
    letter-spacing: 15px;
  }

  .img-container .slogan {
    color: #83898e;
  }

  .form-container {
    padding: 5rem;
    filter: blur(5px);
    transition: filter 0.5s ease;
  }

  .form-container .banner .img-container {
    display: none;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .login-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .login-form label {
    color: #83898e;
    margin: 0.5rem 0;
  }

  .login-form span {
    color: #83898e;
  }

  span.error {
    color: #d93b3b;
  }

  .login-form input,
  .login-form button {
    font-size: 2rem;
  }

  .login-form input {
    padding: 0.5rem;
  }

  .login-form button {
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 768px) {
    .left-container {
      display: none;
    }

    .form-container {
      width: 100%;
      margin: 0 auto;
    }

    .form-container .banner .img-container {
      display: block;
      position: relative;
    }
  }
</style>

<main>
  <div class="left-container">
    <div class="img-container">
      <div class="logo-content">
        <img class="logo-img" src="/images/LOGO.png" alt="">
        <p class="logo-title">隨聊</p>
      </div>
      <p class="slogan">加入隨聊，一起輕鬆聊吧。</p>
    </div>
  </div>
  <div class="form-container">
    <div class="banner">
      <div class="img-container">
        <div class="logo-content">
          <img class="logo-img" src="/images/LOGO.png" alt="">
          <p class="logo-title">隨聊</p>
        </div>
        <p class="slogan">加入隨聊，一起輕鬆聊吧。</p>
      </div>
    </div>
    <form class="login-form" action="/register" method="post">
      <div>
        <label for="name">姓名:</span></label>
        <input class="name" name="name" id="name" type="text" placeholder="name" value="{{name}}" required>
        <span class="
        {{#if errors.isNameError}}
        error
        {{/if}}
        ">請輸入1-50字</span>
      </div>
      <div>
        <label for="account">帳號: <span></span></label>
        <input class="account" name="account" id="account" type="text" placeholder="account" value="{{account}}"
          required>
        <span class="
        {{#if errors.isAccountError}}
        error
        {{/if}}
        ">請輸入英文小寫字母搭配數字，6-20碼。　{{#if errors.accountMsg}} {{errors.accountMsg}} {{/if}}</span>
      </div>
      <div>
        <label for="password">密碼: <span></span></label>
        <input class="password" name="password" id="password" type="password" placeholder="password" required>
        <span class="
        {{#if errors.isPasswordError}}
        error
        {{/if}}
        ">請輸入英文大或小寫字母搭配數字，6-20碼。{{#if errors.passwordCheckMsg}} {{errors.passwordCheckMsg}} {{/if}} </span>
      </div>
      <div>
        <label for="passwordCheck">確認密碼: <span></span></label>
        <input class="passwordCheck" name="passwordCheck" id="passwordCheck" type="password" placeholder="password"
          required>
        <span class="
        {{#if errors.isPasswordCheckError}}
        error
        {{/if}}
        ">請輸入英文大或小寫字母搭配數字，6-20碼。{{#if errors.passwordCheckMsg}} {{errors.passwordCheckMsg}} {{/if}} </span>
      </div>
      <button type="submit">註冊</button>
    </form>
    <p>
      已經有帳號了嗎? 來
      <a href="/login">登入</a>
      吧。
    </p>
  </div>
</main>

<script>
  window.addEventListener('load', function () {
    const formContainer = document.querySelector('.form-container');
    formContainer.style.filter = 'none'
  })


</script>